body {    height: 697px;
    width: 1340px;
    margin-left: 4px;
    margin-right: 1px;
    margin-bottom: 1px;
}
#txtpTRN,#txtDid,#txtrTRN,#txtTRN,#txtCID,#txtStockId,#txtSID,#cmdShow,#txtSID
{
    border: medium inset ;
    border-radius: 25px;
    font-size: medium;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    text-align: center;
}
#cmdShow
{
    display: inline-block;
    padding: 15px 25px;
    font-size: medium;
    text-align: center;
    color: White;
    background-color: #990033;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 0px;
}
#cmdShow:hover
{
    background-color: #FF3300;
    color: #FFFFFF;
}
#cmdShow:active
{
    background-color: Blue;
    box-shadow: 0 5px #666;
    transform: translate(4px);
}
